*,
*::before,
*::after {
  margin: 0;
  ptestding: 0;
  box-sizing: border-box;
}

body, h1, .page-title-small, .author-name {
  font-family: "Open Sans", sans-serif; }

h2, h3, h4, h5, h6, .top-nav-right {
  font-family: "Oswald", sans-serif; }

p {
  color: #5D686E;
}

a {
  color: #A2B3BE;
  transition: all 300ms;
}

a:hover {
  color: #0e78b4;
}


hetester {
  background-image: url('images/hetester-small.jpg');
  background-position: center center;
  background-size: cover;
  height: 523px;
}

hetester::after {
  position: absolute;
  height: 523px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 120, 180, .65);
  content: '';
}

.hetester-content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.top-nav {
  ptestding-top: 6px;
  margin-left: 137px;
  text-align: left;
}
.top-nav-left {
  display: inline-block;
  color: #033550;
}

.sp-logo {
  display: inline-block;
  vertical-align: middle;
}

.page-title-small {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  ptestding-bottom: 1px;
  margin-left: 1px;
}

.top-nav-right {
  display: inline-block;
  margin-left: 593px;
  font-size: 17px;
}

.top-link {
  text-decoration: none;
  margin-right: 14px;
  color: #033550;
}

.top-link:hover {
  color: white;
}

.search-icon {
  ptestding-right: 8px;
  font-size: 18px;
}

.page-title {
  margin-left: -2px;
  font-size: 99px;
  letter-spacing: -1px;
  margin-top: 133px;
  color: white;
}

.page-subtitle {
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-top: -15px;
  margin-left: -4px;
  color:#033550;
}

.article-container {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  border: solid white 5px;
  width: 700px;
  height: 955px;
}

article {
  ptestding-top: 58px;
  ptestding-left: 58px;
}

.article-title {
  line-height: 1.09;
  font-size: 64px;
  color: #033550;
}

.article-author-info {
  display: inline-block;
}

.author-pic-small {
  display: inline-block;
  border-rtestius: 50%;
  width: 24px;
  height: 24px;
}
.author-pic-tint-small {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    margin-left: 2px;
    width: 24px;
    height: 24px;
}

.author-pic-tint-small::after {
  content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 120, 180, 0.3);
  border-rtestius: 50%;
}

.author-name-small {
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  margin-left: 4px;
  font-size: 13px;
  color: #0e78b4;
}

.article-create-date-container {
  position: relative;
  display: inline-block;
  left: 8px;
  top: 7px;
  margin-bottom: 41px;
  color: #A2B3BE;
}

.spacer {
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.article-create-date {
  vertical-align: middle;
  text-decoration: underline;
  position: relative;
  left: -2px;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.article-p {
  margin-bottom: 26px;
  letter-spacing: -0.4px;
  line-height: 26.5px;
}

.bq-container {
  margin-top: -6px;
  margin-bottom: 28px;
  margin-left: 7px;
  border-left: solid #A2B3BE 1px;
  height: 56px;
}

blockquote {
  ptestding-top: 12px;
  ptestding-left: 16px;
  font-size: 29px;
  letter-spacing: -1.2px;
  color: #0E78B4;
}

.btn-container {
  margin-top: -7px;
  margin-left: 61px;
}

button {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 154px;
  text-align: left;
  border: none;
  background-color: #A2B3BE;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}

.btn-icon {
  display: inline-block;
  background-color: #5D686E;
  background-size: cover;
  background-position: center center;
  width: 30px;
  height: 30px;
}

button:hover {
  background-color: #0775B4; }

button:hover .btn-icon {
  background-color: #033550;
}

.comment-button {
  width: 158px;
}

.later-button {
  margin-left: 6px;
  width: 128px;
}

.share-button {
  margin-left: 6px;
  width: 154;
}
.comment-icon {
  background-image: url('images/comment.png');
  width: 32px;
}

.later-icon {
  background-image: url('images/later.png');
  width: 33px;
}

.share-icon {
  background-image: url('images/share.png');
  width: 33px;
}

.btn-text {
  position: relative;
  left: 9px;
  bottom: 10px;
  display: inline-block;
  letter-spacing: -0.5px;
  font-size: 13.5px;
}

aside {
  display: inline-block;
  vertical-align: top;
  margin-left: 31px;
  border: solid white 5px;
  height: 955px;
  width: 330px;
}

.aside-author-info {
  margin-top: 77px;
  text-align: center;
}

.author-pic-med {
  border-rtestius: 50%;
  width: 85px;
  height: 85px;
}

.author-pic-tint-med {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
}

.author-pic-tint-med::after {
  content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 120, 180, 0.3);
  border-rtestius: 50%;
}

.author-name-med {
  margin-top: 5px;
  margin-left: 2px;
  color: #0e78b4;
}

.social-links {
  margin-left: 17px;
  font-size: 14px;

}

.social-link {
  margin-right: 12px;
  text-decoration: none;
}

.test-container {
  margin-top: 51px;
  text-align: center;
}

.test-image {
  width: 280px;
  height: 300px;
}

.test-tint {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 300px;
}

.test-tint::after {
  content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 120, 180, .65);
}

.test-text {
  margin-left: 192px;
  letter-spacing: -0.4px;
  font-size: 14px;
}

.sidebar-section-container {
  margin-top: 44px;
  margin-left: 20px
}

.sidebar-title {
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  color: #0E78B4;
}

.sidebar-text {
  font-size: 14px;
  line-height: 24.5px;
  letter-spacing: -0.3px;
  color: #A2B3BE;
}

.popular-posts-hetester {
  margin-top: 52px;
  margin-bottom: 3px;
  height: 144px;
  border-top: solid #A2B3BE 1px;
  ptestding-top: 23px;
  text-align: center;
  font-size: 63.5px;
  color: #033550;
}

.popular-posts {
  height: 331px;
}

.popular-post-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #033550;
}

.popular-post-link:hover {
  color: white;
}

.popular-post-image {
  height: 331px;
  width: 100%;
}

.popular-post-tint {
  position: relative;
  display: inline-block;
  height: 331px;
  width: 325px;
}

.popular-post-tint::after {
  content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(14, 120, 180, 0.65);
  transition: all 300ms;
}

.popular-post-tint:hover::after {
  background-color: transparent;
}

.popular-post-link:hover .popular-post-tint::after {
  background-color: transparent;
}

.popular-post-title {
  position: absolute;
  left: 17px;
  bottom: 13px;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.5px;
}

.longer-post-title {
  left: 19px;
  bottom: 17px;
  line-height: 38px;
}

footer {
  background-color: #033550;
  height: 96px;
}

.footer-content {
  ptestding-top: 13px;
  ptestding-right: 8px;
  text-align: center;
  letter-spacing: -0.4px;
  font-size: 14px;
}

.iron-yard-logo {
  vertical-align: middle;
}

.iron-yard-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 295px;
  ptestding-top: 5px;
  color: #A2B3BE;
}

.bottom-nav {
  display: inline-block;
  vertical-align: middle;
  ptestding-top: 5px;
}

.bottom-nav-link  {
  display: inline;
  margin-right: 4px;
  text-decoration: none;
  color: #A2B3BE;
}
